<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>API Lookups</string>
	<key>ordering</key>
	<array>
		<string>CC9B386C-725C-4D94-A332-CE0B8B6429BF</string>
		<string>29FE8F34-235B-433A-BE2D-C4C289360774</string>
		<string>A9E5CD84-146F-482E-B3F8-4656B0FC52FD</string>
		<string>9E572884-23BE-445F-8D65-73912E24F985</string>
	</array>
	<key>uuid</key>
	<string>BA96A4F3-7F43-4C2A-A627-822F4C766E97</string>
</dict>
</plist>
